@import url('https://fonts.googleapis.com/css2?family=Inter:slnt@-10&family=Poppins:wght@400;600;700&display=swap');
*{
  box-sizing: border-box;
}

body,h1, h2, p, ul, li, a{
  margin: 0px;
  padding: 0px;
  /*padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
*/
}
body{
  font-family: "Poppins",Inter, sans-serif;
  color:  #49494C;
}
ul{
  list-style:none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}
/* Promocaoinfo */

.promocaoinfo-bg{
  background:#F1F14B;
  color: #49494C;
}
.promocaoinfo{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
}
.promocaoinfo p, .promocaoinfoa{
  margin: 0 10px 10px 10px;
}
.promocaoinfo a{
  color: #49494C;
}
/*Menu*/
.header-bg{
  background: #49494C;
}
.menu{
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.menu a{
  color: black;
}
.menu-logo a{
  font-size: 36px;
  font-weight: bold;
  margin: 0 10px;
  color:  black;
}
span{
  font-size: 60px;
  color: #F1F14B;
}
.menu-nav ul{
  display: flex;
  flex-wrap: wrap ;
}
.menu-nav a{
  font-size: 20px;
  display: block;
  padding: 10px;
}
.menu-nav a:hover{
  color: #9AA2C2;
}
/*Introdução*/
.introducao{
  font-size: 48px;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}
/*Infantil*/
.article-infantil{
  border-top: 2px solid #F1F14B;
  border-bottom: 2px solid  #F1F14B;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}
.infantil-info{
  flex: 2;
  margin: 0 10px;
}
.infantil-info h1{
  font-size: 48px;
  margin-bottom: 20px;
}
.infantil-info p{
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.infantil-img{
  flex: 1;
  margin: 0 10px;
}
.infantil-img img{
  height: 200px;
  
}
/*Feminino*/
.article-feminino{
  max-width: 960px;
  margin: 60px auto;
}
.article-feminino h1{
  font-size: 48px;
  margin: 0 10px 60px 10px;
}
.feminino-container{
  display: flex;
  flex-wrap: wrap;
}
.feminino-item{
  flex: 1;
  margin: 10px;

}
.feminino-item h2{
  font-size: 24px;
  color: #9AA2C2;
  background: #f7f7f7;
  padding: 60px 20px;
}

.brown{
  border-top:8px solid brown;
  
}
.black{
  border-top:8px solid  black;
}
.yellow{
  border-top:8px solid  yellow;
}
.footer {
  display: flex;
  background: #F1F14B;
  height: 200px;
  align-items: center;
}
.footer p{
  flex: 1;
  text-align: center;
  font-size: 20px;
}


@media only screen and (max-width:960px){
  body{
    background-color: gainsboro;
  }
}




